/*Variables------------------Variables*/

:root {

  /*Colors*/

  --Blue-Sky: #32E0C4;
  --Dark: #222831;
  --Dark-Light: #393E46;
  --Light: #FFF;
    /*Box Shadow*/
    --Shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);

  /*Fonts*/
  --Font-Brand:  'Lobster Two', Helvetica;
  --Font-Content: 'Roboto Slab', Helvetica;


}
